@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');


//COLOR NAMES

$darkGray:       #30353d;
$lightGray:      #666;
$darkOrange:     #e65c43;
$lightOrange:    #f25c43;
$offWhite:       #f5f6f6;
$white:          #fff;

//WEB FONTS
$font-body:     Roboto, sans-serif;

//IMAGE PATHS
$path-img:      '../images';

