@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');


//COLOR NAMES

$darkGray:         #30353d;
$lightGray:        #666;
$darkOrange:       #e65c43;
$lightOrange:      #f25c43;
$offWhite:         #f5f6f6;
$white:            #fff;

//WEB FONTS
$font-body:         Roboto, sans-serif;

//FONT WEIGHT
$font-wt-light:     100;
$font-wt-medium:    400;
$font-wt-bold:      900;


//IMAGE PATHS
$path-img:          '../images';

