


header {
    width: inherit;
    text-align: center;
    padding-top: 40px;
    @include clearfix;
    
    img {
        max-width: 100%;
        height: auto;
        @include break(767px) {
            margin-bottom: 100px;
        }
        @include break(459px) {
            margin-bottom: 80px;
        }
    }

    h1{
        @include headerText(4em, $darkOrange, 100);
        @include break(959px) {
            font-size: 3em;
        }
        @include break(767px) {
            font-size: 2em;
        }
        @include break(459px) {
            &:first-child {
                font-size: 1.4em;
                margin-bottom: 20px;
            }
        }
    }

    h2 {
        @include headerText(2.5em, $white, 900);
        margin-bottom: 70px;
        @include break(959px) {
            font-size: 1.5em;
        }
        @include break(767px) {
            font-size: 1em;
        }
        @include break(459px) {
            font-size: 1.4em;
        }
    }

    h3 {
        @include headerText(2em, $lightGray, 400);
        margin-bottom: 50px;
        @include break(767px) {
            font-size: 1.5em;
        }
        @include break(459px) {
            color: $white;
            font-size: 1em;
        }
    }
}